spring:
  application:
    name: ghost-drop

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: none # or create, create-drop, validate, none
      show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
#    locations: classpath:db/migration